$blue1: #0084ff;
$blue2: #0077e6;
$blue3: #259;

$lightBlue1: rgba(0, 132, 255, .06);
$lightBlue2: rgba(0, 132, 255, .1);
$lightBlue3: rgba(0, 132, 255, .15);

$gray1: #8590a6;
$gray2: #666666;

$darkBlue1: #175199;

$htmlFontSize: 16px;

$px32: 3.2rem;
$px22: 2.2rem;
$px20: 2rem;
$px18: 1.8rem;
$px16: 1.6rem;
$px15: 1.5rem;
$px14: 1.4rem;
$px10: 1rem;
$px5: 0.5rem;
