$blue1: #0084ff;
$blue2: #0077e6;
$blue3: #259;

$lightBlue1: rgba(0, 132, 255, .06);
$lightBlue2: rgba(0, 132, 255, .1);
$lightBlue3: rgba(0, 132, 255, .15);

$gray1: #8590a6;
$gray2: #666666;

$darkBlue1: #175199;

$large: 14px;
$middle: 13px;
$small: 12px;
